Application/Connected Services/BookFlightServiceReference/BookFlight.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BookFlightFunction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="time" type="xs:int" />
        <xs:element minOccurs="0" name="depart" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="arrival" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookFlightFunctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookFlightFunctionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>